<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/css/cssamin.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        body {
            background: #EEEEEC;
        }

    </style>
</head>

<body>
    <p class="cen">
        <img src="/img/404.jpg">
    </p>

</body>

</html>
