<% include public/top %>

    <div class="wd mt20 du_xd_xdfcfx dsf_xdf_cftgxc">
        <p class="fz24 pt10 pm10 bbm pl20 bgff">服务项目</p>


             <div class="sd_iuy_xsdf mt20 pl20">
            <p class="fz20 b">vue组件开发</p>
            <ul class="sd_xdff_xffgx pr20">
                <li>
                    <p class="fz14 z12 fl">服务介绍：</p>
                    <p class="ov fz12 pl10">
                      为您的网站加载速度提升，代码复用率高
                    </p>
                    <p class="qc"></p>
                </li>
                    <li>
                    <p class="fz14 z12 fl">服务优势：</p>
                    <p class="ov fz12 pl10">
                        我们的JS开发工程师最低有<span class="ye">3年JS开发经验</span>，对代码执行效率颇有研究，同样的效果写出来的JS，代码执行效率比普通开发人员<span class="ye">提高30%以上</span>。
                    </p>
                    <p class="qc"></p>
                </li>
                 <li>
                    <p class="fz14 z12 fl">服务宗旨：</p>
                    <p class="ov fz12 pl10">
                  我们的JS工程师会根据您的需求，为您量身定制您想要的<span class="ye">JS效果。</span>
                    </p>
                    <p class="qc"></p>
                </li>

            </ul>
        </div>



        <div class="sd_iuy_xsdf mt20 pl20">
            <p class="fz20 b">PSD转HTML</p>
            <ul class="sd_xdff_xffgx pr20">
                <li>
                    <p class="fz14 z12 fl">服务介绍：</p>
                    <p class="ov fz12 pl10">
                        您只需提供一张<span class="ye">网页效果图</span>，可以是<span class="ye">PSD,JPG,PNG,GIF</span>等图片格式类型，只是要保证图片的清晰度和质量，我们根据您的效果图转换为高品质的手写HMTL+CSS网页。
                    </p>
                    <p class="qc"></p>
                </li>
                   <li>
                    <p class="fz14 z12 fl">服务优势：</p>
                    <p class="ov fz12 pl10">
                        ① 我们团队的每一位成员，最低<span class="ye">3年以上专业前端开发经验</span>，定期做内部培训和研究。保证优质的代码质量。<br>
                        ② 完美的浏览器兼容性，写出的代码<span class="ye">兼容IE7-11、谷歌、火狐、360浏览器、猎豹、搜狗等主流浏览器。</span><br>
                        ③ 我们有前沿的前端技术HTML5+css3，我们会适当的运动到您的网站，在各种<span class="ye">高级浏览器上浏览，会让您的页面看起来‘高端、大气、上档次’</span>。<br>
                        ④ 我们针对SEO研究出一套标签使用规范，标签的运用能最大限度的让页面被<span class="ye">搜索引擎抓取</span>。<br>
                        ⑤ 我们的团队都是前端资深爱好者，<span class="ye">工作细腻负责</span>，每一笔订单都是一件代码艺术品，我们会精心为您雕琢。<br>
                    </p>
                    <p class="qc"></p>
                </li>

                    <li>
                    <p class="fz14 z12 fl">服务宗旨：</p>
                    <p class="ov fz12 pl10">
                        让每一笔订单，都能达到<span class="ye">100%的满意度</span>。能得到客户的认可！
                    </p>
                    <p class="qc"></p>
                </li>
                 <li>
                    <p class="fz14 z12 fl">专业精通：</p>
                    <p class="ov fz12 pl10">
                        我们专业做前端领域外包，有很多高级前端开发工程师，<span class="ye">目的是做好、做精前端</span>。
                    </p>
                    <p class="qc"></p>
                </li>
                 <li>
                    <p class="fz14 z12 fl">技术支持：</p>
                    <p class="ov fz12 pl10">
                        我们会为订单项目提供前端技术支持和跟踪服务，，<span class="ye">直到项目顺利上线为止</span>。
                    </p>
                    <p class="qc"></p>
                </li>


            </ul>
        </div>




        <div class="sd_iuy_xsdf mt20 pl20">
            <p class="fz20 b">活动专题（设计+前端+后台）</p>
            <ul class="sd_xdff_xffgx pr20">
                <li>
                    <p class="fz14 z12 fl">服务介绍：</p>
                    <p class="ov fz12 pl10">
                        专题设计、<span class="ye">前端、开发一条龙服务</span>，做完即可直接上线。您也可只做某一个环节。
                    </p>
                    <p class="qc"></p>
                </li>
                    <li>
                    <p class="fz14 z12 fl">服务优势：</p>
                    <p class="ov fz12 pl10">
                        我们的开发人员具有多年前端开发经验，对代码执行效率颇有研究，同样的效果写出来的JS，代码执行效率比普通开发人员提高30%以上。让您的活动迅速上线，<span class="ye">活动不推迟</span>！
                    </p>
                    <p class="qc"></p>
                </li>
                 <li>
                    <p class="fz14 z12 fl">服务宗旨：</p>
                    <p class="ov fz12 pl10">
                  我们的JS工程师会根据您的需求，为您量身定制您想要的<span class="ye">JS效果。</span>
                    </p>
                    <p class="qc"></p>
                </li>

            </ul>
        </div>




        <div class="sd_iuy_xsdf mt20 pl20">
            <p class="fz20 b">JS效果</p>
            <ul class="sd_xdff_xffgx pr20">
                <li>
                    <p class="fz14 z12 fl">服务介绍：</p>
                    <p class="ov fz12 pl10">
                       为您的网页增加JS脚本。例如：图片切换，相册展示效果，弹出层，日历等各种JS交互效果。
                    </p>
                    <p class="qc"></p>
                </li>
                    <li>
                    <p class="fz14 z12 fl">服务优势：</p>
                    <p class="ov fz12 pl10">
                        我们的JS开发工程师最低有<span class="ye">3年JS开发经验</span>，对代码执行效率颇有研究，同样的效果写出来的JS，代码执行效率比普通开发人员<span class="ye">提高30%以上</span>。
                    </p>
                    <p class="qc"></p>
                </li>
                 <li>
                    <p class="fz14 z12 fl">服务宗旨：</p>
                    <p class="ov fz12 pl10">
                  我们的JS工程师会根据您的需求，为您量身定制您想要的<span class="ye">JS效果。</span>
                    </p>
                    <p class="qc"></p>
                </li>

            </ul>
        </div>


    </div>


    <% include public/bottom %>
        <script>
            $(function() {
                $(".duy_nav a").eq(1).addClass("act")
            })

        </script>
        </body>

        </html>
